gradio
gradio[oauth]
requests
smolagents
smolagents[litellm]
duckduckgo-search
pandas
openpyxl
youtube_transcript_api
pytube
langchain
langchain-community
backoff
SpeechRecognition
pydub
wikipedia-api
beautifulsoup4
chess
markdownify